extends ../layout/admin

block styles 
    meta(name="csrf-token" content= csrfToken)

block contenido 
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        a(href="/propiedades/crear" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Publicar Propiedad 
        

        //- pre= JSON.stringify(propiedades, undefined, 2)

        if propiedades.length
            div(class="bg-white shadow rounded-lg")
                ul(class="divide-y divide-gray-200")
                    each propiedad in propiedades
                        li
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 md:space-y-0 gap-4")
                                div(class="sm:w-1/4 md:w-1/6") 
                                    img(src=`uploads/${propiedad.imagen}` alt=`Imagen propiedad ${propiedad.titulo}` class="w-full block")
                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3") 
                                    a(class="block text-2xl font-extrabold text-indigo-600 truncate" href=`/propiedad/${propiedad.id}`)= propiedad.titulo

                                    p(class="text-sm text-black font-bold")= propiedad.categoria.nombre

                                    p(class="text-sm text-gray-500 font-bold flex items-center ")
                                        svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor")
                                            path(d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z")
                                            path(fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" clip-rule="evenodd")
                                        = propiedad.precio.nombre

                                    a(href=`/mensajes/${propiedad.id}` class="text-sm text-gray-600")= `${propiedad.mensajes.length} Mensajes`

                                div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col 2xl:flex-row gap-2 ") 
                                    button(type="button" data-propiedad-id=`${propiedad.id}` class=`cambiar-estado w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer ${propiedad.publicado ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800'} `)= `${propiedad.publicado ? 'Publicado' : 'No Publicado'}`

                                    a(href=`/propiedades/editar/${propiedad.id}` class="text-center px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-indigo-100 text-indigo-800") Editar 

                                    form(method="POST" action=`/propiedades/eliminar/${propiedad.id}`)
                                        input(type="hidden" name="_csrf" value= csrfToken)
                                        input(type="submit" class='w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-red-100 text-red-800' value="Eliminar") 

                div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
                    div(class="flex-1 flex justify-between sm:hidden")
                        a(href=`/mis-propiedades?pagina=${paginaActual - 1}` class=`${paginaActual === "1" ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Anterior

                        a(href=`/mis-propiedades?pagina=${paginaActual + 1}` class=`${paginaActual === paginas ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Siguiente

                    div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                        p(class="text-sm text-gray-700 gap-2") Mostrando 
                            span(class="font-medium") #{offset + 1} a 
                            span(class="font-medium") #{total < limit + offset ? total : limit + offset} de  
                            span(class="font-medium") #{total} resultados 
                    
                    div(class="hidden sm:block")
                        nav(class="relative z-0 inline-flex rounded-md shadow-md")
                            - var n = 1;
                                while n <= paginas
                                    a(href=`/mis-propiedades?pagina=${n}` class=`${paginaActual == n ? 'bg-indigo-50 border-indigo-500 text-indigo-600'  : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50 ' } relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++} 

        else 
            p.text-center No Hay Propiedades


block scripts
    script(src="/js/cambiarEstado.js")